.card {
display: flex;
border-color: rgb(44, 42, 42);
width:80%;
padding: 10px;
border: 1px solid black;
border-radius: 30px;
  margin-left: 50px;


}



.btn:hover {
    background-color: rgb(50, 50, 175);
    color: white;
    cursor: pointer;
   
}

.btn {
    background-color: white;
    border: none;
    margin-left: 20px;
    margin-right: 20px;
    border-radius:20px;
    display: flex;
}

.mid {
    font-size: 50px;
}



